/* General classes */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus,
*:active {
  outline-color: #4eb5a5;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: linear-gradient(to bottom right, #98cfc9, #4eb5a5);
  color: #444;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.active-box {
  position: relative;
  width: 50rem;
  padding: 2.8rem 2.4rem;
  border-radius: 12px;
  margin: auto 5rem;
  background-color: #fff;
  box-shadow: 0 2.4rem 5.2rem rgba(0, 0, 0, 0.1);
  text-align: center;
}

.btn {
  border: none;
  border-radius: 6px;
  margin-top: 1.6rem;
  padding: 0.8rem 5rem;
  color: #fff;
  font-family: inherit;
  font-size: 2.4rem;
  transition: background-color 0.3s;
}

.btn:hover {
  cursor: pointer;
}

/* Helper classes */
.display-none {
  display: none;
}

.emoji {
  font-size: 10.2rem;
}

.green-background-color {
  background-color: #45a08c;
}

.green-background-color:hover {
  background-color: #4eb5a5;
}

.green-font-color {
  color: #45a08c;
}

.disable-hover {
  pointer-events: none;
}

.non-active {
  display: none;
}

/*  WELCOME BOX   */
.box-heading {
  font-size: 3.6rem;
  font-weight: 700;
}

.introduction {
  margin-top: 1rem;
  font-size: 2rem;
  line-height: 1.8;
}

/* CHOOSE CATEGORY BOX  */
.category-box {
  padding: 0rem 2rem;
  width: 100%;
}

.select {
  display: flex;
  flex-direction: column;
}

#category {
  padding: 1rem 1.6rem;
  border: 2px solid #4eb5a5;
  border-radius: 6px;
  margin-top: 2rem;
  background-color: #fff;
  font-family: inherit;
  font-size: 1.8rem;
  font-weight: 500;
}

/* CHOOSE LEVEL BOX  */
.btn-level {
  width: 50%;
  padding: 1.2rem 0;
}

.btn--mid {
  background-color: #fcd653;
}

.btn--mid:hover {
  background-color: #fde285;
}

.btn--hard {
  background-color: #e94e4e;
}

.btn--hard:hover {
  background-color: #ed6c6c;
}

.good-luck {
  margin-top: 2.2rem;
  font-size: 1.8rem;
}

/* Question BOX  */
.loading-message,
.end-of-quiz {
  font-size: 2.2rem;
  line-height: 1.8;
}

.question-box-header {
  display: flex;
  justify-content: end;
  padding: 0 1rem;
}

.timer-box {
  padding: 0 1rem;
  position: absolute;
}

.timer {
  margin-bottom: 1.6rem;
  letter-spacing: 0.2rem;
  font-size: 1.8rem;
  font-weight: 700;
}

.difficulty {
  letter-spacing: 0.2rem;
  font-size: 1.6rem;
  font-weight: 700;
}

.question {
  position: relative;
  width: 100%;
  margin-top: 2rem;
}

.question p {
  padding: 5rem 2rem;
  background-color: #fde285;
  font-size: 1.8rem;
}

.question::before {
  content: attr(data-content);
  position: absolute;
  transform: translate(-50%, -50%);
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 12px;
  background-color: #fff;
  color: #45a08c;
  font-size: 1.4rem;
  font-weight: 700;
  box-shadow: 0 1rem 3.2rem rgba(69, 161, 139, 0.2);
}

.question::after {
  content: '?';
  position: absolute;
  transform: translate(-50%, -50%);
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 100%;
  background-color: #fff;
  color: #45a08c;
  font-size: 1.4rem;
  font-weight: 700;
  box-shadow: 0 1rem 3.2rem rgba(69, 161, 139, 0.4);
}

.answers {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 4rem;
  row-gap: 1rem;
  margin: 2rem 0;
  text-align: start;
}

.answer {
  padding: 1rem 0.5rem;
  border: none;
  box-shadow: inset 0 0 0 2px #45a08c;
  border-radius: 6px;
  background-color: #fff;
  font-family: inherit;
  font-weight: 500;
  font-size: 1.6rem;
}

.answer:hover {
  box-shadow: inset 0 0 0 2px #45a08c;
  background-color: #45a08c;
  color: #fff;
  cursor: pointer;
}

.answer.correct-answer {
  box-shadow: inset 0 0 0 2px #45a08c;
  background-color: #45a08c;
  color: #fff;
}

.answer.incorrect-answer {
  box-shadow: inset 0 0 0 2px #e94e4e;
  background-color: #e94e4e;
  color: #fff;
}

.current-score {
  padding-top: 1rem;
  background-color: #fff;
  font-size: 1.8rem;
  font-weight: 500;
}

.btn-reset {
  padding: 0.8rem 2rem;
  font-size: 2rem;
}

@media (max-width: 38em) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 27em) {
  html {
    font-size: 43%;
  }

  body {
    padding: 1rem;
  }

  .active-box {
    width: 100%;
    padding: 5.2rem 1.2rem;
    margin: 2rem;
  }
}

@media (max-width: 24em) {
  html {
    font-size: 36%;
  }
}

@media (max-width: 20rem) {
  html {
    font-size: 30%;
  }

  .answers {
    grid-template-columns: 1fr;
  }
}
